<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" http-equiv="Content-Language" content="zh-Hans" />
		<script>
			var coverSupport = 'CSS' in window && typeof CSS.supports === 'function' && (CSS.supports('top: env(a)') ||
				CSS.supports('top: constant(a)'))
			document.write(
				'<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0' +
				(coverSupport ? ', viewport-fit=cover' : '') + '" />')
		</script>
		<title></title>
		<!--preload-links-->
		<!--app-context-->
		<link rel="stylesheet" href="<%= BASE_URL %>static/index.<%= VUE_APP_INDEX_CSS_HASH %>.css" />
		<link rel="icon" href="./static/logo.png" />
		<style>
			/* @media screen and (max-device-width:375px) {
				body {
					width: 100vw;
					margin: 0 auto;
				}
			}

			@media screen and (min-device-width:375px) and (max-device-width:750px) {
				body {
					width: 100vw;
				}
			}

			@media screen and (min-device-width:751px) {
				body {
					width: 750px;
					margin: 0 auto;
				}
			} */
		</style>
	</head>
	<body>
		<div id="app"><!--app-html--></div>
		<!-- <script type="module" src="/main.js"></script> -->
	</body>
</html>